@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;

}
body{
    font-family: var(--sm-font);
    min-width: 372px;
}

.text{
    float: left;
    width: 50%;
}
#carouselBro{
    float: left;
    width: 50%;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}